{% extends 'infoPage.html.twig' %}

{% block pageContent %}
    <div ng-app="weddingApp" class="infoPage aboutUs">
        <h1>About Us</h1>
        <p>TODO: Add some information about the bride & groom here</p>
    </div>
{% endblock %}