{% extends 'infoPage.html.twig' %}

{% block pageContent %}
    <h1>Ceremony</h1>
    <h2>Format</h2>
    <p>
        The Civil Ceremony follows the style of a short, formal traditional wedding ceremony under the direction of a
        Registrar, in the presence of our friends and family.</p>
    <p>
        The ceremony focuses on the exchange of rings and vows in the presence of witness; as a civil ceremony there
        will be no religious content, but there will be a couple of short readings that are relevant to us.
    </p>
    <p>
        For the sake of the Bride's formal entrance (and at the request of the Registrar) we need all guests to be
        seated prior to the start of the ceremony; late arrivals may not be able to join us until the drinks on the
        lawn afterwards.
    </p>

    <h2>Seating</h2>
    <p>
        We will have friends and guests joining us from many parts of our lives, many of whom will be friends of both
        Bride and Groom. Therefore with the exception of the front row being held for immediate family, we invite guests
        to seat themselves anywhere for the ceremony; a formal seating plan will be posted for the meal later.
    </p>
    <p>
        If you have any accessibility needs, or require end-of-row seating for pushchairs etc, please let us know on the
        <a href="{{ path('wedding_homepage') }}#rsvp">RSVP form</a>.
    </p>

    <h2>Dress code</h2>
    <p>The Bride and Groom will be in formal wedding attire and we suggest that guests join us in formal or smart
        clothing, but the most important thing to us is that you are present and enjoy the day with us.</p>
{% endblock %}