{% extends 'infoPage.html.twig' %}

{% block pageContent %}
    <h1>Planning</h1>
    <p>A few notes on how the planning's going for your interest and our reference:</p>

    <h2>Arranged</h2>
    <ul>
        <li>Find software for website</li>
    </ul>

    <h2>To do</h2>
    <ul>
        <li>Looooong list goes here</li>
    </ul>

{% endblock %}