{% extends 'infoPage.html.twig' %}

{% block pageContent %}
    <div class="registry">
        <h1>Our Honeymoon Registry</h1>

        <p>It took us a while to decide how to put together our Wedding List, as we've both collected quite a lot of
            Stuff, don't actually need much more Stuff, and in any case share a reasonably small flat without much spare
            space. </p>

        <p>Realistically, there's a limit to just how many toasters and towels we can use.</p>

        <p>So, instead of a Wedding List of physical gifts, we've put together a Honeymoon Registry, a way for you to
            give us something much more meaningful: experiences, and memories to share throughout our married life
            together.</p>

        <p>If you'd like to contribute (and see what we have planned), take a look at
            <a class="registryLink"
               href="https://www.ourdreamhoneymoon.com/yourlistname">our list on Our Dream Honeymoon</a>;
            we would both be extremely grateful for everything we receive to help make our Honeymoon all the more
            memorable.
        </p>

        <p>Of course, gifts are far from required - by far the most important thing to us is that we get to share
            this very, very special day with our family and friends.</p>

        <p>Please note that your gift is not completed until you click the link in the order confirmation email.</p>

        <p class="thanks">Many thanks,<br /> <span class="names">The Bride &amp; Groom</span></p>

        <br class="clearfix" />
    </div>
{% endblock %}